.genre-filter-container {
  margin: 5px;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.genre-filter-container h2 {
  font-size: 1.5rem;
  color: #f7f7f7;
  margin-bottom: 1rem;
}

.genre-filter-container label {
  font-size: 1rem;
  color: #f7f7ff;
  margin-right: 0.5rem;
}

.genre-dropdown {
  background-color: #f7f7ff;
  color: #000000;
  border: 1px solid #444;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  outline: none;
  margin-bottom: 30px;
  transition:
    border 0.2s,
    box-shadow 0.2s;
}

.genre-dropdown:hover,
.genre-dropdown:focus {
  border-color: #5e9eff;
  box-shadow: 0 0 0 3px rgba(94, 158, 255, 0.3);
  cursor: pointer;
}
